<!DOCTYPE html>
<html lang='es'>
<head>
<style>
img { width:200px;}
</style>
    <title>Calzados Garabatos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/grid_12.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/slider.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
    <script src="{{STATIC_URL}}js/jquery-1.7.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
    <script src="{{STATIC_URL}}js/tms-0.4.1.js"></script>
    <script>
		$(document).ready(function(){				   	
			$('.slider')._TMS({
				show:0,
				pauseOnHover:true,
				prevBu:'.prev',
				nextBu:'.next',
				playBu:false,
				duration:800,
				preset:'fade',
				pagination:true,
				pagNums:false,
				slideshow:7000,
				numStatus:false,
				banners:false,
				waitBannerAnimation:false,
				progressBar:false
			})		
		});
	</script>
	
</head>
<body>
  <header>
	{% block encabezado %}{% endblock %}
	<nav>
	  <ul id='menu'>
		  <li><a href='/'>Inicio</a></li>
		  <li><a href='/proovedores'>Listado de Proovedores</a></li>
		  <li><a href='/almacen'>Información sobre Almacenes</a></li>
      		  <li><a href="/productos">Productos</a></li>
		  <li><a href='/sobre'>Sobre Garabatos</a></li>
                  <li><a href="/contacto">Contactanos!</a></li>
    </ul>
	</nav>
	<hr>
  </header>	

  <section class='content'>
	{% block contenido %}{% endblock %}
  </section>

  <footer>

  </footer>
</body>
</html>
