{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %}{% endblock %}

{% block encabezado %} 
<!--<script>
 $('#').click( function() {
    
     var destination = 0;
     $("html,body").stop().animate({
     scrollTop: destination
     },5000, 'easeInOutCubic');
     return false;                    

});
</script>-->
{% endblock %}

{% block contenido %}
<script>
function scrollWindow()
{
window.scrollTo(200,350);
}
</script>
<body onload="scrollWindow();"></>

<div class="box">
           <div class="content">
     <center>   <h5>Calzados Garabatos</h5></center>
        <img class="imgr" src="{{STATIC_URL}}images/garabatosfondoblanco.png" alt="" width="150" height="150" />
        <p><div><div class="date"><span class="day">21</span> <span class="month">May</span> <span class="year">2013</span></div>

</div>








    <p>Calzados Garabatos es una empresa familiar fundada en 1987, una referencia en el sector del calzado infantil y juvenil en granada, donde a través de la experiencia y los años nos hemos convertido en un claro referente dentro del mundo del calzado.</p>

        <p>En Calzados Garabatos siempre buscamos los mejores fabricantes dentro y fuera de España, luchando por mantener nuestro compromiso de productos de alta calidad y diseño, que puedan mantener satisfechos a todos nuestros clientes,</p><span class='rojo'> productos que ayuden al buen desarrollo de los pies de sus hijos<span><p>,siguiendo siempre las últimas tendencias de moda, conjugando la modernidad y la tradición</p>
    <br/>
<br/>
<center> <h5>Sobre el Calzado</h5></center>
        
        <p><div><div class="date"><span class="day">19</span> <span class="month">May</span> <span class="year">2013</span></div>

</div>
    <p>Elegir un buen calzado para nuestros hijos es siempre de gran importancia, pues debemos tomárnoslo como un factor muy importante para el perfecto desarrollo del bebe, la misión del calzado para los primeros pasos de un bebe es esencial, respetando la fisonomía del cuerpo evitamos posibles problemas de espaldas y al andar, sobre todo si ya existen patologías para tener que aplicar un calzado correctivo</p>
  <img class="imgl" src="{{STATIC_URL}}images/bebe.jpeg" alt="" width="150" height="150" />
        <p>Un zapato debe ser siempre flexible, pudiendo doblar la suela facilmente con la mano; el tamaño debe ser lo bastante ancho y largo para que permita el movimiento de los dedos y estos no lleguen al final del zapato, dejando aproximadamente 1 cm de espacio; los materiales deben ser naturales y de calidad para que permitan una mejor transpiración de la piel; es necesario también elegir el modelo que mejor se adapte al pie, que lleve una buena sujeción tanto de cordones, velcro o hebilla, como de talón.</p><p>Ha pesar de todo esto y aun eligiendo el mejor calzado posible no debe olvidar que los zapatos, en especial las deportivas son sólo para algunas horas al día, se debe intentar siempre tener en casa zapatos todavía mas cómodos, como zapatillas de casa.</p>



      </div>
      
     <div class="sidebar">
       <div class="subnav">
          <h5>Menú</h5>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/">Productos</a>
                  <ul>
                    <li><a href="/lista">Listado</a></li>
                    <li><a href="/marcas">Catálogo por Marcas</a></li>
                    <li><a href="/tipo">Catálogo por Tipo</a></li>
                  </ul>

            <li><a href="/marcas">Añadir</a>
                <ul>
                     <li><a href="/productos/nuevo">Producto</a></li>
                    <li><a href="/marcas/nuevo">Marca</a></li>
                </ul>
        
            <li><a href="/proovedores">Listado de Proovedores</a>
            <li><a href="/sobregarabatos">Sobre...</a></li>
                  <ul>
                    <li><a href="/sobregarabatos">Garabatos</a></li>
                    <li><a href="/contacto">Donde encontrarnos</a></li>
                    <li><a href="/contactoform">Contacta por E-Mail</a></li>
                  </ul>
            </li>
          </ul>
        </div>

      
      </div>

      
      
      <div class="clear"></div>
    </div>
    {% endblock %}