{% extends 'base.html' %}

{% comment %} listado de Tipos{% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 


<div class="main-container">
  <div class="container1">
    <div id="jFlowSlider" >
      <div  id="mySlides" >
        <div  id="slide1">    
          <img src="{{STATIC_URL}}images/slider1.jpg" alt="Slide 1 jFlow Plus" />
       
        </div>      
        <div id="slide2">
        <img src="{{STATIC_URL}}images/slider2.jpg" alt="Slide 2 jFlow Plus" />
        
        </div>   
        <div id="slide3">
        <img src="{{STATIC_URL}}images/slider3.jpg" alt="Slide 3 jFlow Plus" />
        </div>
     </div>
    </div>
      <div id="myController">
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
      </div>

      <section class="jFlowPrev"><div></div></section>
      <section class="jFlowNext"><div></div></section>
  </div>
</div>


{% endblock %}

{% block contenido %}

{% endblock %}