{% extends 'base.html' %}

{% comment %} listado de Tipos{% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 


<div class="main-container">
  <div class="container1">
    <div id="jFlowSlider" >
      <div  id="mySlides" >
        <div  id="slide1">    
          <img src="{{STATIC_URL}}images/slider1.jpg" alt="Slide 1 jFlow Plus" />
       
        </div>      
        <div id="slide2">
        <img src="{{STATIC_URL}}images/slider2.jpg" alt="Slide 2 jFlow Plus" />
        
        </div>   
        <div id="slide3">
        <img src="{{STATIC_URL}}images/slider3.jpg" alt="Slide 3 jFlow Plus" />
        </div>
     </div>
    </div>
      <div id="myController">
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
        <span class="jFlowControl"></span>
      </div>
      <section class="jFlowPrev"></section>
      <section class="jFlowNext"></section>
  </div>
</div>
{% endblock %}
{% block contenido %}
{% for elemento in dato %}


<div class="box">
            <div class="content">
              <h5><center>{{elemento.titulo}}</center></h5>
              <p><div>{{elemento.fecha_pub}}</p></br>
            </div>     
            <div><p></center>{{elemento.cuerpo}}</center></p></br>
</div>
    




      </div>
      
  
      
      <div class="clear"></div>
    </div>

{% endfor %}
{% endblock %}