{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 

{% endblock %}

{% block contenido %}
<br><br><br><br><center>
<a class="boton" href="{% url 'ninomarca' dato.id%}" > Niños</a>   
<a class="boton" href="{% url 'ninamarca' dato.id%}"> Niñas</a>  
<a class="boton" href="{% url 'unimarca' dato.id%}"> Unisex</a></center> 

<br><br><br><br>
{% for elemento in zapato %}

<content>
<div class=listado><center>
<ul = class= boxProducto><br>

<dir><li><h4><a href="{% url 'principal_productos' elemento.id %}"> {{elemento.tipo}} {{elemento.marca}} </a></h4></li></dir></br>
<dir><img src='{{MEDIA_URL}}{{elemento.imagen}}'></dir>

</ul></div>
</center>
</content>

{% endfor %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <footer>
		<div id="bop">
  			<div id="footer">
				<div class="left"><br>
					<a href="/">Inicio</a>
						<span>|</span>
					<a href="/proovedores">Proovedores</a>
						<span>|</span>
					<a href="/marcas">Marcas</a>
						<span>|</span>
					<a href="/sobre">Sobre Garabatos</a>
						<span>|</span>
					<a href="/contacto">Contáctanos!</a>
				</div>
					
			</div>
				<!-- End Footer -->
			
		</div>			
  </footer>

{% endblock %}
