{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 

{% endblock %}

{% block contenido %}

<article>
<center>
<div class=listado>

<ul><br><br><br><br>
<dir><li><h4>Zapato : {{dato.tipo}} </h4></li></dir>
<dir><li><h4>Descripción : {{dato.descripcion}}</h4></li></dir>
<dir><li><h4>Genero : {{dato.genero}}</h4></li></dir>
<dir><li><h4>Marca : {{dato.marca}}</h4></li></dir>
<dir><img src='{{MEDIA_URL}}{{dato.imagen}}'></dir>

	{% for item in datos_zapato %}
		<dir><li><h4>Serie del {{item.minymax}}, PVP : {{item.pvp}} €</h4></li></dir>
	{% endfor %}
   </ul></div></center></article>




 
{% endblock %}


