{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 

{% endblock %}

{% block contenido %}
 <center>
<a class="boton" href="{% url 'ninotipo' dato.id%}" > Niños</a>   
<a class="boton" href="{% url 'ninatipo' dato.id%}"> Niñas</a>  
<a class="boton" href="{% url 'unitipo' dato.id%}"> Unisex</a></center> <br><br><br>
{% for elemento in zapato %} 
<content>
<div class=listado><center><a href="{% url 'principal_productos' elemento.id %}">
<ul = class= boxProducto>
	<dir><li><h4> {{dato.tipo}} {{elemento.marca}} </h4></li></dir>
<dir><img src='{{MEDIA_URL}}{{elemento.imagen}}'></dir>
</ul></a>
</center></div>
</content>

{% endfor %}

{% endblock %}

