<!DOCTYPE html>
<html lang='es'>
<head>

<link  href="{{STATIC_URL}}images/garabatos.png" rel="shortcut icon" type="image/x-icon" />
      <h1><title>Calzados Garabatos</title></h1>
<link rel="stylesheet" href="{{STATIC_URL}}styles/style.css" type="text/css" />
<link rel="stylesheet" href="{{STATIC_URL}}styles/reset.css" type="text/css" />
<script src="{{STATIC_URL}}scripts/scripts.js" type="text/javascript"></script></head> 



<body>
<div class="container darkbg clearfix">
  <div id="headercont" class="clearfix">
    <div id="headerlogo">
      <h1><a title="" href="/movil">Calzados Garabatos</a></h1>
    </div>
    <div id="headerright">
            <p><span>Calle Palencia nº4:</span> 958819105</p>
            <p><span>Calle Doctor Creus nº10:</span> 958817969</p>
            <p><span>Email:</span><a href="mailto:calzados_garabatos@gmail.com"> info@calzadosgarabatos.com</a></p>
    </div>
  </div>
</div>

<div class="container lightbluebg clearfix">
    <div id="menucont" class="clearfix">
      <div class="menu">
        <ul>
          <li class="active"></br>
            <a href="/movil/catalogo"><button>Catálogo</button></a>
            <a href="/movil/contacto"><button>Donde encontrarnos</button></a>
            <a href="/movil/contactoforms"><button>Contácta por E-Mail</button></a>
          </li>
        </ul>
  </div>
</div>    




<div class="container clearfix">
  <div id="maincont" class="clearfix">
    <div id="mainleft">

    {% for elemento in zapato %} 

      <a href="{% url 'principal_productos_movil' elemento.id %}">
      <dir><h4> {{dato.tipo}} {{elemento.marca}} </h4></dir>
      <dir><img src='{{MEDIA_URL}}{{elemento.imagen}}'width="200" height="200"></dir></a>

    {% endfor %}

    </div>

</body>

<footer>
 <br class="clear" />
<center>
  <p class="tagline_left">Calzados Garabatos &copy;<br> Calle Doctor Creus, 4 <br> Calle Palencia, 10  <br>  18007 (Granada,Andalucia,España)   </p>
    <br class="clear" /> <img class="imgr" src="{{STATIC_URL}}images/garabatos.png" alt="" width="100" height="100" />
        </br></br><a href="/contacto"> <h5>Ver Calzados Garabatos la web normal</h5></a></center>
  </footer>
    
</html>