{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block encabezado %} 

{% endblock %}

{% block contenido %}

<nav>
<center>
<div class=listado>
<ul><br><br><br><br><br><br>
<dir><li><h6>Zapato : {{dato.tipo}} {{dato.marca}}</h6></li></dir></br>
<dir><li><h6>Descripción : {{dato.descripcion}}</h6></li></dir></br>
<dir><li><h6>Genero : {{dato.genero}}</h6></li></dir></br>
<dir><li><h6>Marca : {{dato.marca}}</h6></li></dir></br>
<dir><img src='{{MEDIA_URL}}{{dato.imagen}}'></dir></br></br>

	{% for item in datos_zapato %}
		<dir><li><h6>Serie del {{item.minymax}}, PVP : {{item.pvp}} €</h6></li></dir></br>
	{% endfor %}
   </ul></div>
</center>

</nav>

  <footer>

<div id="bop">
  			<div id="footer">
				<div class="left"><br>
					<a href="/">Inicio</a>
						<span>|</span>
					<a href="/proovedores">Proovedores</a>
						<span>|</span>
					<a href="/marcas">Marcas</a>
						<span>|</span>
					<a href="/sobre">Sobre Garabatos</a>
						<span>|</span>
					<a href="/contacto">Contáctanos!</a>
				</div>
					
			</div>
				<!-- End Footer -->
			
		</div>	
			
  </footer>
{% endblock %}


