{% extends 'base.html' %}

{% comment %} Aqui van comentarios {% endcomment %}

{% block titulo %}{% endblock %}

{% block encabezado %} 

{% endblock %}

{% block contenido %}
<script>
function scrollWindow()
{
window.scrollTo(200,350);
}
</script>
<body onload="scrollWindow();"></>

<div class= box>
<article><h5><ul><center></br></br></br></br></br></br>
<li>Nif Empresa: {{proovedores.NifDNI}}</li></br>
<li>Nombre Proovedor : {{proovedores.nombre}}</li></br>
<li>Direccion : {{proovedores.direccion}}</li></br>
<li>Telefono: {{proovedores.telf}}</li></br>
<li>Telefono Viajante : {{proovedores.telf_viajante}}</li></center>
</ul></h5></article></br>
<div>



{% endblock %}
