{% extends 'base.html' %}
{% block encabezado %}

{% endblock%}
{% block contenido %}
<script>
function scrollWindow()
{
window.scrollTo(200,350);
}
</script>
<body onload="scrollWindow();"></>
	<div class="box";><center><p><b>Todos Los Campos Son Obligatorios</b></p></center></br>
		<center><form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %} {{formulario.as_p}}</center></br>
			<center><p><input type='submit' value='Insertar'/></p></center>
		</form>
	</div>
{% endblock %}